<!DOCTYPE html>
<html>
<head>
    <title>Django App</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'about' %}">About Us</a> |
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">Profile</a> |
            <a href="{% url 'logout' %}">Logout</a> |
            <span>Welcome, {{ user.username }}</span>
        {% else %}
            <a class="nav-link" href="{% url 'jwt_login' %}">Login</a> |
            <a class="nav-link" href="{% url 'jwt_signup' %}">Sign Up</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>

